{% extends 'main.html' %}
{% load static %}
{% block content %}




<main>
    <section  id="about_us1">
        <div class="whoAreWe text-center">
            КТО МЫ<br>
            ТАКИЕ
        </div>
    </section>
    <section id="about_us2">
        <div class="container mt-5">
            <div class="row">
                <div class="col-6">
                    <div class="text-center mb-3"><img src="{% static 'image/icon.png' %}" alt=""></div>
                    <div class="text-center"><p>С чего все началось?</p></div>
                    <div class="text-center font-13 f-italic"> 
                        Это текст. Нажмите один раз и выберите «Редактировать текст» или просто кликните дважды,
                         чтобы добавить свой текст и 
                        настроить шрифт. Вы можете переместить его в любое место на странице. Расскажите посетителям 
                        сайта о себе.</div>
                </div>
                <div class="col-6">
                    <div class="text-center mb-3"><img src="{% static 'image/icon2.webp' %}" alt=""></div>
                    <div class="text-center"><p>Почему нужно покупать у нас?</p></div>
                    <div class="text-center font-13 f-italic"> 
                        Это текст. Нажмите один раз и выберите «Редактировать текст» или просто кликните дважды,
                         чтобы добавить свой текст и 
                        настроить шрифт. Вы можете переместить его в любое место на странице. Расскажите посетителям 
                        сайта о себе.</div>
                </div>
                <div class="col-4   mt-5">
                    <div class="text-center mb-3"><img src="{% static 'image/icon3.webp' %}" alt=""></div>
                    <div class="text-center m-auto font-13  f-italic" style="width: 70%;"> 
                        «Это отзыв. Кликните здесь, чтобы отредактировать и написать хороший отзыв о вашей компании и услугах».</div>
                </div>
                <div class="col-4  mt-5">
                    <div class="text-center mb-3"><img src="{% static 'image/icon3.webp' %}" alt=""></div>
                    <div class="text-center m-auto font-13  f-italic" style="width: 70%;"> 
                        «Это отзыв. Кликните здесь, чтобы отредактировать и написать хороший отзыв о вашей компании и услугах».</div>
                </div>
                <div class="col-4  mt-5">
                    <div class="text-center mb-3"><img src="{% static 'image/icon3.webp' %}" alt=""></div>
                    <div class="text-center m-auto font-13  f-italic" style="width: 70%;"> 
                        «Это отзыв. Кликните здесь, чтобы отредактировать и написать хороший отзыв о вашей компании и услугах».</div>
                </div>
                
            </div>
            <div class="text-center mt-5 mb-5">
                <button class="btn btn-primary rounded-0 px-3 m-auto">В МАГАЗИН ></button>
            </div>
        </div>
    </section>
</main>




{% endblock %}