{% extends 'main.html' %}
{% load static %}

{% block content %}


<main>
    <section id="to_book1">
        <div class="container">
            <div class="row">
                <div class="col-7">
                   <div class="mb-4">
                    <a class="text-decoration-none text-dark" href="{% url 'cofe:main' %}">Home/ </a>
                    <a class="text-decoration-none text-dark" href="{% url 'cofe:shop' %}">Магазин/</a>
                    <a class="text-decoration-none text-dark" href="#">Ваш товар</a>
                    
                   </div>

                   <div style="
                    border: 1px solid grey;
                    text-align: center;">
                       <img src="{% static 'image/bits.webp' %}" alt="">
                   </div>

                   <div>
                       <img src="{% static 'image/bits.webp' %}" style="width: 20px" alt="">
                       <img src="{% static 'image/bits.webp' %}" style="width: 20px" alt="">
                   </div>

                   <div class="font-13 mt-3">
                    Это описание товара. Здесь вы можете рассказать о
                     товаре подробнее: напишите о размерах, материалах, уходе и любых других важных моментах.
                   </div>


                </div>
                <div class="col-5">
                    <div class="mt-5">
                        <h5>Ваш товар</h5>
                        <p class="font-13">SKU: 0002</p>
                        <p style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">$1,999.00Price</p>
                        <p class="mb-2" >Quantity</p>
                        <input type="number" value="1" style="    width: 90px;
                        padding-left: 10px;
                        border: 1px solid grey;
                        height: 31px;"><br>
                        <button class="btn btn-primary mt-3 w-100 rounded-0">Add to Cart</button>
                    </div>
                    <div class="mt-4">
                        <p>О ТОВАРЕ</p>
                        <p class="font-13 f-italic">
                            Это информация о товаре. Расскажите подробно, что он из себя представляет, 
                            и перечислите всю необходимую информацию: размеры, материалы, инструкции по уходу и т. 
                            д. Это также хорошая возможность сообщить, в чем особенность вашей продукции и какую 
                            выгоду покупатели
                             получат в итоге. Подробные сведения о товаре помогут вашим посетителям определиться с покупкой.</p>
                    </div>
                    <hr>

                    <div>
                        <p>ПОЛИТИКА ВОЗВРАТА</p>
                        <p class="font-13 f-italic">
                            Это правила и условия возврата товара и
                             денег. Расскажите посетителям, что нужно сделать, если они захотят вернуть 
                             товар и получить назад свои деньги. 
                            Четкая и ясная политика возврата — это хороший способ построить доверительные отношения с клиентами.</p>
                    </div>

                        
                </div>
            </div>
        </div>
    </section>
</main>

{% endblock %}